<div class="container">
  <article class="card">
    <form id="loginForm" class="form" autocomplete="off">
      <label>Correo
        <input id="email" type="email" autocomplete="username" required />
      </label>
      <label>Contraseña
        <div class="input-pass">
          <input id="password" type="password" minlength="6" autocomplete="current-password" required />
          <button type="button" class="btn btn--ghost" id="togglePwdLogin">Mostrar</button>
        </div>
      </label>
      <button type="submit" class="btn">Ingresar</button>
      <p id="loginMsg" class="small"></p>
    </form>
    <div class="auth-links">
      <p class="small">
  <a href="#/recover" data-view="recover">¿Olvidaste tu contraseña?</a>
</p>
<p class="small">
  ¿No tienes una cuenta?
  <a href="#/home" data-view="home">Regístrate</a>
</p>
    </div>
  </article>
</div>
